/* Color Scheme
  Off-White: #F2F2F2
  Off-Black: #262626
  White: #FFFFFF
  Black: #0D0D0D
  Rose: #755555

  Font Family: Franklin Gothic

*/

/* OVERARCHING SECTIONS */
header, section, footer, aside, nav, main, article, figure, img {
  display: block;
}

#wrapper{
  margin-left:15%;
  margin-right:15%; 
  margin-top: 30px;
  background-color:#E8E8E8;
  font-family:calibri,Arial, sans-serif;
}

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
h1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-stretch: condensed;
  letter-spacing: 6px;
  font-size:50px;
}
h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-stretch: condensed;
  font-size:30px;
}

/* HEADING & Navigation */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E8E8E8;
  height:70px;
  width:100%;
  margin-top:0;
  padding:15px 25px;
  margin-bottom:0px;
  
}
.header_border{
  height:5px;
  width:100%;
  background-color: #E8E8E8;
  margin-top:-25px;
  margin-bottom:20px;
}
.logo a{
  color: #6e6e6e;
  text-decoration: none;
  font-stretch: condensed;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: color 0.2s ease;
}
.logo a:hover{
  color:#D08686;
  transition: color 0.2s ease;
  
}
.nav_links{
  display:flex;
  justify-content: space-between;
}
.menu li{
  display:inline;
}
.menu a{
  color:#6e6e6e;
  text-decoration:none;
  margin-left:25px;
  transition: color 0.2s ease;
  
}
.menu a:hover{
  color:#D08686;
  text-decoration:underline;
  text-underline-offset: 7px;
  transition: color 0.2s ease;
  font-weight: 700;
}

/*HOME*/
/*Home Containers*/
.home_titlecont{
  display:flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  height:250px;
  width:97%;
  margin-left:auto;
  margin-right:auto;
  border-radius: 10px;
  box-shadow: 1px 1px 2px -1px gray;
}

.home_prof{
  height:400px;
  width:95%;
  background-color: white;
  margin: 20px 20px 20px 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px -1px gray;
  padding-top:2px;
}

.home_profcont{
  /*background-color: #0D0D0D;*/
  background-color: white;
  color:black;
  padding:10px;
  border-radius: 0px 0px 10px 10px;
  position:relative;
  top:-20px;
  box-shadow: 1px 1px 2px -1px gray;
}

.gallery{
  padding:20px;
  height:auto;
  width:97%;
  background-color:white;
  margin-top:20px;
  margin-left: auto;
  margin-right:auto;
  border-radius: 10px;
  box-shadow: 1px 1px 2px -1px gray;
}

.home_lblock1{
  height:fit-content;
  width:95%;
  background-color: white;
  margin: 20px auto;
  padding:20px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px -1px gray;
  
}

.home_thoughts{
  height:400px;
  padding:20px;
  width:97%;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  margin-bottom: 7px;
  background-color: white;
  overflow-y:scroll;
  border-radius: 10px;
  box-shadow: 1px 1px 2px -1px gray;
}

/*Other home stuff*/
.static_txt{
  margin-right:5px;
}
.dynamic_txt{
  line-height:17px;
  height:17px;
  overflow:hidden;
  margin-top:1px;
}
.dynamic_txt li{
  color:#D08686;
  list-style:none;
  font-size:17px;
  font-weight:800;
  top:0;
  position:relative;
  animation: slide 8s steps(4) infinite;

}

@keyframes slide {
  100%{
    top:-68px;
  }
}

.home_sheader{
  display: inline-flex;
}

.dynamic_txt li span::after{
  content:"";
  position:absolute;
  left:0;
  height:17px;
  width:100%;
  border-left:2px solid #D08686;
  animation: typing 2s steps(8) infinite;
  background:white;
}

@keyframes typing {
  100%{
    left:100%;
    margin:0 0 0 10px;
  }
}
.dynamic_txt li span{
  position:relative;
}
  
.home_wrapper{
  display:block;
  height:auto;
  background-color: #E8E8E8;
  padding-bottom:80px;
 
}
.home_title{
  display:flex;
  background-color: #FFFFFF;
  height: 50px;
  width:100%;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  
  
}
.break{
 flex-basis: 100%;
 height: 0;
}
.home_header{
  background-color:blue;
}

.home_flex1{
  display:flex;
  width:100%;
  height:fit-content;
}
.home_lcolumn{
  display:block;
  height: fit-content;
  width:65%;
}
.home_rcolumn{
  display:block;
  width:35%;
  height:auto; 
}


.abutton{
  margin-bottom:5px;

}
.abutton a{
  text-decoration: none;
  height: 20px;
  padding:5px 40px;
  background-color: black;
  color:white;
  transition:0.5s;
  border-radius: 25px;
}
.abutton a:hover{
  background-color: #D08686;
  color:black;
  transition:0.5s;
}

.home_prof img{
  border-radius: 5px;
  margin-left:5%;
  margin-right:5%;
  margin-top:5%;
  margin-bottom:8%;
}

.home_prof img{
  width:90%;
}
.hbook_gallery{
  display:flex;
  overflow-x:scroll;
  overflow-y:hidden;

}
.hbook_gallery::-moz-scrollbar-button:decrement,
::-moz-scrollbar-button:increment,
::-webkit-scrollbar-button:decrement,
::-webkit-scrollbar-button:increment {
  width: 0px;
}
.book_img{
  height:230px;
  width:auto;
  margin-right:10px;
  margin-bottom:10px;
}

.ig_widget{
  margin-top:20px;
}

/*home: thoughts*/
.thought_header1{
  display:flex;
  width:100%;
  align-items: center;
  justify-content: center;
  margin-bottom: -3px;
}
.thought_header{
  display:flex;
  width:100%;
  align-items: center;
  justify-content: center;
  margin-bottom: -3px;
  margin-top:50px;
}

.thought_title{
  flex-grow:0;
  flex-shrink: 0;
  flex-basis: content;
  text-align: center;
  margin-left:20px;
  margin-right:20px;
}
.thought_line{
  height:1px;
  width:100%;
  overflow:hidden;
  background-color: #0D0D0D;
  justify-content:center;
  vertical-align: middle;
  
}
.thought_date{
  text-align: center;
  font-size:15px;
  font-weight: 100;
}
.thought_paragraph{
  margin-top:10px;
}
.thought_button{
  background-color:black;
  height: 30px;
  width:200px;
  color:white;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  line-height:30px;
  margin-top:20px;
  transition:0.5s;
  border-radius:50px;
}

.thought_button:hover{
  background-color: #D08686;
  transition: 0.5s;
}



/*Home: Project Box*/

.home_articles{
  height:340px;
  width:100%;
  overflow-x:scroll;
  white-space: nowrap;
  
}

.home_article{
  height:300px;
  width:400px;
  margin: 10px;
  background-color:gray;
  display:inline-block;
  overflow:hidden;
  border-radius: 10px;

}

.home_article:hover{
  /*border:solid;
  border-color: #cccccc;
  border-radius: 10px;
  border-width:1px;*/
  box-shadow: 0px 0px 4px -1px gray;

}

.project_tab{
  /*display:flex;
  align-items: end;*/
  height:100%;
  background-color:gray;
  border-radius: 10px;

}

.project_blurb{
  background-color: white;
  height:300px;
  width:400px;
  position:relative;
  top:240px;
  padding:10px;
  opacity:0.8;
  transition:1s;
  
}

.project_blurb:hover{
  top:0px;
  opacity:1;
  transition: 1.5s;
  
 
}



.project_desc{
  font-style:italic;
  font-size:small;
  
}

.project_para{
  white-space:wrap;
  margin-top:10px;
}

.project_link{
  background-color: #0D0D0D;
  color:white;
  height:30px;
  width:140px;
  text-align: center;
  line-height: 30px;
  margin-top:20px;
  transition:0.5s;
  border-radius: 25px;
}

.project_link:hover{
  background-color: #D08686;
  transition:0.5s;
}

.project_link a{
  color:white;
  text-decoration:none;
  font-family: calibri;
  font-weight: 450;  
}

/*gallery*/
.gallery_image1{
  width:200px;
  height:auto;
}
.gallery_image2{
  width:200px;
  height:auto;
}

.gallery_image3{
  width:200px;
  height:auto;
}

.gallery_image4{
  width:200px;
  height:auto;
}

.gallery_image5{
  width:200px;
  height:auto;
}

.gallery_image6{
  width:350px;
  height:200px;
}

.gallery_container{
  
  height:500px;
  width:100%;
  display:flex;
  overflow-y:scroll;
  overflow-y:scroll;
  white-space: nowrap;
  -ms-overflow-style:none;
  scrollbar-width:none;

}

.gallery_container::-webkit-scrollbar{
  display:none;
}


.gallery_container2{
  height:2000px;
  width:2500px;
  flex-shrink:0;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  align-items:center;

}

/* FOOTER */
footer{
  height:100px;
  margin-top:-45px;
  margin-right:16%;
  background-color: #E8E8E8;
  color:#6e6e6e;
  padding-top:20px;
  padding-left:10px;
  font-family:  'Arial Narrow', Arial, sans-serif;
  font-weight: normal;
  font-stretch: ultra-condensed;
  font-size:15px;
  text-align: right;
}
footer a{
  color:#755555
}
