/* Color Scheme
  Regular Scheme
    Background (Off-White): #E8E8E8
    Containers (White): #FFFFFF
    Accent (rose): #D08686
    Font Color (black): #000000
    Font Color Tags (light gray): #b0b0b0 
    Font Color Nav (light gray): #6e6e6e

  Dark Mode
    Background (black): #0F0F10
    Containers (dark gray): #1B1B1D
    Accent (rose): #D08686
    Year Line (gray): #3A3A3A
    Font Color (gray): #E8E8E8
    Font Color 2 (light gray): #b0b0b0

  Font Family (titles): Franklin Gothic
  Font Family (body): calibri
*/

/* OVERARCHING SECTIONS */
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  background-color:#E8E8E8;
}

#wrapper{
  margin-left:15%;
  margin-right:15%; 
  margin-top: 30px;
  font-family:calibri,Arial, sans-serif;
}

h1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-stretch: condensed;
  letter-spacing: 6px;
  font-size:50px;
}

h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-stretch: condensed;
  font-size:25px;
}

/*DARK MODE SETTINGS*/
body.dark-mode{
  background-color:#0F0F10;
  color:#E8E8E8;
}

body.dark-mode header,
body.dark-mode footer,
body.dark-mode #wrapper{
  background-color:#0F0F10;
  color:#E8E8E8;
}

body.dark-mode .gallery_item,
body.dark-mode .about_container{
  background-color:#1B1B1D ;
  color:#E8E8E8;
}

body.dark-mode .menu a,
body.dark-mode .logo a,
body.dark-mode footer,
body.dark-mode .contact a,
body.dark-mode p,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode strong,
body.dark-mode span{
  color:#E8E8E8;
}

body.dark-mode .menu a:hover,
body.dark-mode .logo a:hover,
body.dark-mode .contact a:hover{
  color:#D08686;
}

body.dark-mode .year_line{
  background-color:#3A3A3A;
}


/* HEADER */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:70px;
  width:100%;
  margin-top:0;
  padding:15px 25px;
  margin-bottom:0px;
}

.header_border{
  height:5px;
  width:100%;
  margin-top:-25px;
  margin-bottom:20px;
}

/*LOGO*/
.logo a{
  color: #6e6e6e;
  text-decoration: none;
  font-stretch: condensed;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: color 0.3s ease;
}

.logo a:hover{
  color:#D08686;
  transition: color 0.3s ease;
}

/*NAV LINKS*/
.nav_links{
  display:flex;
  justify-content: space-between;
}

.menu li{
  display:inline;
}

.menu a{
  color:#6e6e6e;
  text-decoration:none;
  margin-left:25px;
  transition: color 0.3s ease;
}

.menu a:hover{
  color:#D08686;
  text-decoration:underline;
  text-underline-offset: 7px;
  transition: color 0.2s ease;
  font-weight: 700;
}

/*TOGGLE SLIDER FOR DARK MODE*/
.theme_toggle{
  width:45px;
  height:25px;
  margin-top: -2px;
  margin-left:20px;
  border:none;
  border-radius:999px;
  background:#2C2C34;
  position:relative;
  cursor:pointer;
  transition:background 0.3s ease;
}

.toggle_slider{
  position:absolute;
  top:0px;
  left:0px;
  width:25px;
  height:25px;
  border-radius:999px;
  background:#F4F4F4;
  transition:
    transform 0.3s ease,
    background 0.3s ease;
}

body.dark-mode .theme_toggle{
  background:#D08686;
}

body.dark-mode .toggle_slider{
  transform:translateX(19px);
  background:white;
}

/*ABOUT*/
.main_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about_container{
    display: block;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 900px;
    min-width: 300px;
    height: fit-content;
    padding:25px;
    color:#404040;
}

.contact a{
  text-decoration: none;
  color:#404040;
  transition: color 0.3s;
}

.contact a:hover{
  color:#D08686;
  transition: color 0.3s;
}

/* FOOTER */
footer{
  height:100px;
  margin-top:0;
  margin-right:2.5%;
  background-color: #E8E8E8;
  color:#6e6e6e;
  padding-top:20px;
  padding-left:10px;
  font-family:  'Arial Narrow', Arial, sans-serif;
  font-weight: normal;
  font-stretch: ultra-condensed;
  font-size:15px;
  text-align: right;
  font-family:calibri,Arial, sans-serif;
}

/*RESPONSIVE DESIGN*/
@media (max-width:900px){
  .close{
    z-index:1;
    color:black;
    margin-top:20px;
  }
  .logo a{
    margin-left:-20px;
    margin-top:-10px;
  }
}

@media (max-width: 700px) {
   .nav_links{
        position:fixed;
        bottom:20px;
        left:50%;
        transform:translateX(-50%);
        display:flex;
        align-items:center;
        gap:12px;
        z-index: 1;
    }

    .nav_links a{
        background-color: #0F0F10;
        color:white;
        border-radius: 999px;
        padding: 10px 15px;
        font-size:12px;
    }

    .nav_links a:hover{
        background-color: #D08686;      
    }

    .menu{
        display:flex;
        gap:12px;
    }

    .menu a{
        margin-left:0;
    }

    .theme_toggle{
        margin-left:0;
        margin-top:0;
    }

    body.dark-mode .nav_links a{
      background-color: #1B1B1D;
      color:#E8E8E8;
    }
}